---
import WhatsappIcon from "../icons/WhatsappIcon.astro";
import Dropdown from "./Dropdown.svelte";
import { getSupabase } from "../lib/supabase";

const URL_WHATSAPP = "https://wa.me/5491151541828";

// // 1. Wrapper de solo lectura para evitar el ResponseSentError de Astro
// const readOnlyCookies = {
//     get: (key: string) => Astro.cookies.get(key),
//     set: () => {},
//     delete: () => {}
// };

// // 2. Verificamos si el usuario tiene sesión activa
// const supabase = getSupabase(readOnlyCookies);
// const { data: { session } } = await supabase.auth.getSession();
// const isLoggedIn = !!session;
const isLoggedIn = Astro.locals.isLoggedIn;
---

<!-- Menú Desktop -->
<header
    class="navbar flex justify-center items-center mx-auto py-1 fixed top-0 w-full z-20 backdrop-blur bg-gray/20 border-b border-white/10 rounded-b-lg shadow-lg drop-shadow-md shadow-white/5"
>
    <a href="/#">
        <img
            id="navbar-img"
            class="rounded-full size-10 me-5 mr-2 bg-white drop-shadow-sm hover:scale-110 transition-transform"
            src="/Computer.png"
            alt="imagen fborzi"
        />
    </a>
    <nav id="navbar-nav" class="px-4 py-2 flex flex-row items-center">
        <a class="text-white hover:scale-110 px-3 py-1 rounded-full transition drop-shadow-sm" href="/estudiantes">
            Estudiantes
        </a>
        
        {/* Lógica condicional del botón de Log In/Log Out */}
        {isLoggedIn ? (
            <a class="text-red-300 hover:scale-110 px-3 py-1 rounded-full transition drop-shadow-sm" href="/auth/signout">
                Log Out
            </a>
        ) : (
            <a class="text-white hover:scale-110 px-3 py-1 rounded-full transition drop-shadow-sm" href="/login">
                Log In
            </a>
        )}

        <a
            class="rounded-full size-10 flex justify-center items-center gap-x-2 text-xs md:text-base text-white transition drop-shadow-sm hover:scale-110"
            href={URL_WHATSAPP}
            target="_blank"
        >
            <WhatsappIcon />
        </a>
    </nav>
</header>

<!-- Menú Mobile -->
<header
    class="dropdown flex justify-start mx-auto px-2 py-1 fixed top-0 w-full z-20 backdrop-blur bg-gray/20 border-b border-white/10 rounded-b-lg shadow-lg drop-shadow-md shadow-white/5"
>
    <!-- Le pasamos la prop isLoggedIn al componente Svelte -->
    <Dropdown client:visible isLoggedIn={isLoggedIn} />
</header>

<style>
    @media screen and (max-width: 768px) {
        #navbar-img, #navbar-nav {
            display: none;
        }
    }
    @media screen and (min-width: 768px) {
        .dropdown {
            display: none;
        }
    }

    .navbar, .dropdown {
        isolation: isolate;
        -webkit-font-smoothing: antialiased;
        text-rendering: optimizeLegibility;
    }
</style>